.header{
    background-color: black;
    height:40px;
    color: white;
    width: 100%;
    margin-top: 0px !important;
    font-size: x-large;
}

.home{
    width: 80%;
    padding-left: 300px;
    padding-right: 300px;
}

.map-selected {
    fill: #E3DA37;
  }
  
  .map-unselected {
    fill: #699EAA;
  }
  
  .map-selected:hover, .map-unselected:hover {
    cursor: pointer;
    fill:aqua
  }

  .box1 {
    display: inline-block;
    width: 23%;
    margin-top:-1%;
    margin-left: 1%;
    height: 450px;
    vertical-align: top;
     /* background-color: "red"; */
    border-style: solid;
    
    
    /* border-block-color: red; */
    
  }

  .box2 {
    display: inline-block;
    width: 45%;
    margin-top:-1%;
    margin-left:1%;
    height: 450px;
    vertical-align: top;
    border-style: solid;
    
    
  }

  .box3 {
    display: inline-block;
    width: 28%;
    margin-top:-1%;
    margin-left: 1%;
    height: 450px;
    vertical-align: top;
    border-style: solid;
   
  }

  .box4{
    display: inline-block;
    /* width: 60%; */
    margin-top: 0.5%;
    margin-left: 1%;
    /* height: 380px; */
    vertical-align: top;
    border-style: solid;
    
  }

  .box5{
    /* display: inline-block; */
    position:absolute;
    /* width: 30%; */
    margin-top: -25.4%;
    margin-left: 65%;
    /* height: 380px; */
    vertical-align: top;
    /* background-color: red; */
    border-style: solid;
    /* border-block-color: green; */
  }

  video{
    /* object-fit: contain; */
    opacity: 1;
    height:1000px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    
  }
  
  .overlay {
    /* Style your overlay div as desired */
  }

 